* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #F6F8F9;
}

header {
    filter: drop-shadow(1px 1px 5px #f1f1f1);
}

.navbar {
    background-color: white;
    height: 100%;
}

.logo {
    margin-left: 16px;
    margin-top: 8px;
    margin-bottom: 8px;
    vertical-align: middle;
}

.logo-name {
    font-weight: bold;
    font-size: 32px;
    vertical-align: middle;
}

main {
    background-color: white;
    margin-top: 40px;
    margin-left: 80px;
    margin-right: 80px;
    border-radius: 8px;
}

.container {
    padding-top: 16px;
    padding-right: 40px;
    padding-left: 40px;
    padding-bottom: 16px;
}

.primary {
    background-color: #47ADF1;
    padding: 8px;
    border-radius: 8px;
    color: white;
    border: none;
}

.secondary {
    background-color: white;
    padding: 8px;
    border-radius: 8px;
    color: #C8CED3;
    border: 1px solid #C8CED3;
}

hr {
    border: 1px solid #F6F8F9;
}

.task {
    margin-bottom: 24px;
}

.check {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid green;
    border-radius: 50%;
    text-align: center;
    color: green;
    margin-right: 8px;
    margin-bottom: 10px;
}

.un-check {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid red;
    border-radius: 50%;
    text-align: center;
    color: red;
    margin-right: 8px;
    margin-bottom: 10px;
}

.text {
    font-size: 12px;
}

h4 {
    margin-bottom: 8px;
    color: #3A3E48;
}

.blue-tag {
    background-color: #47ADF1;
    padding: 8px;
    font-size: 8px;
    color: white;
    border-radius: 16px;
}

.purple-tag {
    background-color: #9C72E4;
    padding: 8px;
    font-size: 8px;
    color: white;
    border-radius: 16px;
}

.green-tag {
    background-color: #64C0A9;
    padding: 8px;
    font-size: 8px;
    color: white;
    border-radius: 16px;
}

.lightgreen-tag {
    background-color: #B0C926;
    padding: 8px;
    font-size: 8px;
    color: white;
    border-radius: 16px;
}

.orange-tag {
    background-color: #F29E33;
    padding: 8px;
    font-size: 8px;
    color: white;
    border-radius: 16px;

}

.pink-tag {
    background-color: #D863A1;
    padding: 8px;
    font-size: 8px;
    color: white;
    border-radius: 16px;
}